.names {
fill: none;
stroke: #fff;
stroke-linejoin: round;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

.details{
  color:white;
}
.legend {
        font-size: 12px;
}
h2 {
  position: absolute;
  left: 1000px;
  top: 200px;
  font-size: 20px;
  border: 1px solid #6F257F;
}
