/* Made by: Julian Evalle
   Opdr: Linked Views */
.names {
fill: none;
stroke: #fff;
stroke-linejoin: round;
}

/* Alan Dunning, Tooltip: https://bl.ocks.org/alandunning/274bf248fd0f362d64674920e85c1eb7" */
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

.details{
  color:white;
}
.legend {
  font-size: 12px;
}
h2 {
  position: absolute;
  left: 1000px;
  top: 200px;
  font-size: 20px;
  border: 1px solid #6F257F;
}
