/* Made by: Julian Evalle
 * Opdr: D3 Scatter
 */
 body {
     background-color: lightblue;
 }

 h1 {
     color: navy;
     margin-left: 20px;
 }

 .legend {
         font-size: 12px;
 }

 rect {
        stroke-width: 2;
 }

.enter {
  fill: green;
}

.update {
  fill: #333;
}
