/* Made by: Julian Evalle
 * Opdr: D3 Scatter
 */
 body {
     background-color: lightblue;
 }

 h1 {
     color: navy;
     margin-left: 20px;
 }
 .legend {                                                   /* NEW */
         font-size: 12px;
 }
 rect {                                                      /* NEW */
        stroke-width: 2;                                          /* NEW */
 }    
