/* Made by: Julian Evalle
 * Opdr: D3 Scatter
 */
 body {
     background-color: lightblue;
 }

 h1 {
     color: navy;
     margin-left: 20px;
 }

 .legend {
         font-size: 12px;
 }
 h2 {
   position: absolute;
   left: 100px;
   top: 150px;
 }
